:root {
  --box-background: rgba(255, 255, 255, 0.13);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* content-visibility: auto; */
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  height: 100%;
  background-image: url("img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
::-webkit-scrollbar {
  display: none;
}

.hide {
  content-visibility: hidden;
  transition: all 1s ease;
  /* visibility: hidden; */
}
.contents {
  margin-bottom: 80px;
}
.time_container {
  background-color: var(--box-background);
  border-radius: 10px;
  margin-top: 20px;
}
.time {
  font-size: 70px;
  font-weight: 100;
}
.time #am-pm {
  font-size: 30px;
  margin-left: 20px;
}
.min-max-box {
  width: 100%;
  float: left;
  margin-top: -20px;
}
.max,
.min {
  font-size: 30px;
  margin: 0 20px 30px 10px;
}
.date {
  font-size: 30px;
}

.weather {
  background-color: var(--box-background);
  border-radius: 10px;
  font-size: 50px;
  height: 310px;
}
.weather .city {
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: -20px;
}
.weather .curIcon {
  height: 150px;
  margin-bottom: -40px;
}
#moreInfo {
  font-weight: bold;
  background-color: var(--box-background);
  border-radius: 10px;
  margin-top: 30px;
  font-size: 20px;
}
#moreInfo div {
  margin-top: 10px;
}
.bottom_menu {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  z-index: 100;
  border-top: 1px solid black;
  background-color: white;
}
.bottom_menu > div {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  padding-top: 13px;
  cursor: pointer;
}
.bottom_menu > div > i {
  color: black;
  font-size: larger;
}
.todo-container {
  justify-content: center;
}
.add_box {
  width: 100%;
  position: relative;
  background-color: var(--box-background);
  border-radius: 10px;
  margin-top: -60px;
  padding: 10px;
}
.input-container {
  width: 100%;
  text-align: center;
}

.add_box input {
  margin: 10px 0 10px 0;
  font-size: 20px;
  width: 60vw;
}
#addBtn {
  font-size: 20px;
  background: #8841bb;
  color: #fff;
  border: none;
  position: relative;
  height: 30px;
  font-size: 1em;
  padding: 0 2em;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}
#addBtn:hover {
  background: #ffc0cb;
  color: #8841bb;
}
.toDoList {
  margin-top: 20px;
  background-color: var(--box-background);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 20vh;
  justify-content: center;
}
.toDoList h2 {
  text-align: center;
}
.toDoList h2 .select {
  text-align: right;
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #8841bb;
  width: 10rem;
  cursor: pointer;
  padding: 0.5rem;
}

.inner {
  align-items: center;
  width: 100%;
}
#todoUl {
  margin-right: 11px;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}
.toDoList #todoUl .dueDate {
  font-size: 15px;
  font-weight: bold;
}
.todo {
  align-items: center;
  justify-content: center;
}
#todoUl div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}
#todoUl li {
  justify-content: space-between;
  display: flex;
  margin: 0.5rem;
  width: 50%;
  flex: 1;
  text-align: left;
  align-items: center;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

@media (min-width: 1000px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
  .bottom_menu > div > i {
    font-size: x-large;
  }
  .add_box input {
    margin: 10px 0 10px 0;
    font-size: 20px;
    width: 40vw;
  }
}
